# Gradle files
.gradle
*.gradle
.gradle/**

# Local settings
/local.properties
local.properties
/.idea/
/*.iml/
*.iml

# Android Studio & IntelliJ project-specific
/.vscode/
/build/
/build
/captures
.navigation/
*.log
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
.externalNativeBuild
.cxx

